<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <script src = "/chess/p5.js"></script>
    <script src = "/chess/pieces/Piece.js"></script>
    <script src = "/chess/pieces/MovementPiece.js"></script>
    <script src = "/chess/pieces/Bishop.js"></script>
    <script src = "/chess/pieces/King.js"></script>
    <script src = "/chess/pieces/Knight.js"></script>
    <script src = "/chess/pieces/Pawn.js"></script>
    <script src = "/chess/pieces/Queen.js"></script>
    <script src = "/chess/pieces/Rooke.js"></script>
    <script src = "/chess/board/Tile.js"></script>
    <script src = "/chess/board/ChessBoard.js"></script>
    <script src= "/chess/playChess.js"></script>
</head>
<body>

</body>
</html>
